<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org">

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="menuFragment">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
            <div class="sidebar-brand-text mx-3">1907-집회관리</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            인원관리
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/people/listview">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>참석자 정보</span>
            </a>
        </li>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/people/listall">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>참석자 정보(상세)</span>
            </a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Addons
        </div>

        <!-- Nav Item - Charts -->
        <th:block th:if="${session.logintype == '관리자'}">
        <li class="nav-item">
            <a class="nav-link" href="/room/listmaster">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>방정보 조회 - master</span></a>
        </li>
        </th:block>
        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="/room/list">
                <i class="fas fa-fw fa-table"></i>
                <span>방배정 현황</span></a>
        </li>

        <th:block th:if="${session.logintype == '관리자'}">
        <li class="nav-item">
            <a class="nav-link" href="/room/reginfo">
                <i class="fas fa-fw fa-table"></i>
                <span>방생성</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/regAdmin">
                <i class="fas fa-fw fa-table"></i>
                <span>관리자등록</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/viewMember">
                <i class="fas fa-fw fa-table"></i>
                <span>관리자조회</span></a>
        </li>
        </th:block>

<!--        <li class="nav-item" style="vertical-align: center">-->
        <hr class="sidebar-divider d-none d-md-block">

        <li class="nav-item">
            <div class="text-center">
            <form action="/api/getPeopleApi" method="post">
                <button type="submit" class="btn btn-success">참석자 동기화</button>
            </form>
            </div>
        </li>
        <hr class="sidebar-divider d-none d-md-block">

        <li class="nav-item">
            <div class="text-center">
            <a id="logout" class="btn btn-dark btn-icon-split btn-sm" href="/index">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-check"></i>
                                            </span>
                <span class="text">LOG OUT</span>
            </a>
            </div>
        </li>

<!--        </li>-->

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

</div>
<!-- End of Page Wrapper -->
</body>

</html>