<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: headerFragment}">
</head>
<body id="page-top">

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:replace="~{fragment/menu ::menuFragment}">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div class="container-fluid">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">방정보 출력</h6>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered text-nowrap" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>idx</th>
                        <th>신청인</th>
                        <th>이름</th>
                        <th>번호</th>
                        <th>성별</th>
                        <th>나이</th>
                        <th>소속</th>
                        <th>1차금액</th>
                        <th>2차금액</th>
                        <th>입금금액</th>
                        <th>입금날짜</th>
                        <th>입금상태</th>
                        <th>방배정</th>
                        <th>등록날짜</th>
                        <th>대표인</th>
                        <th>월</th>
                        <th>화</th>
                        <th>수</th>
                        <th>목</th>
                        <th>금</th>
                        <th>토</th>
                        <th>자차</th>
                        <th>대중교통</th>
                        <th>도보 및 자전거</th>
                        <th>알게된경로</th>
                        <th>목회자</th>
                        <th>탈북민</th>
                        <th>평신도</th>
                        <th>전참여부</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="people : ${list}">
                        <td th:text="${people.seqno}"></td>
                        <td th:text="${people.peoplekey}"></td>
                        <td th:text="${people.name}"></td>
                        <td th:text="${people.mobile}"></td>
                        <td th:text="${people.gender}"></td>
                        <td th:text="${people.age}"></td>
                        <td th:text="${people.church}"></td>
                        <td th:text="${people.first_pay}"></td>
                        <td th:text="${people.sec_pay}"></td>
                        <td th:text="${people.complete_pay}"></td>
                        <td th:text="${people.pay_dt}"></td>
                        <td th:text="${people.pay_status}"></td>
                        <td th:text="${people.roominfo}"></td>
                        <td th:text="${people.reg_dt}"></td>
                        <td th:text="${people.people_key_sec}"></td>
                        <td th:text="${people.mon}"></td>
                        <td th:text="${people.tue}"></td>
                        <td th:text="${people.wed}"></td>
                        <td th:text="${people.thu}"></td>
                        <td th:text="${people.fri}"></td>
                        <td th:text="${people.sat}"></td>
                        <td th:text="${people.car}"></td>
                        <td th:text="${people.bus}"></td>
                        <td th:text="${people.bicycle}"></td>
                        <td th:text="${people.how}"></td>
                        <td th:text="${people.pastor}"></td>
                        <td th:text="${people.northkorean}"></td>
                        <td th:text="${people.layman}"></td>
                        <td th:text="${people.allday_yn}"></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>주님만 높임받으시는 집회 - Again 1907</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>
</body>
</html>