<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: headerFragment}">
</head>
<body id="page-top">

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:replace="~{fragment/menu ::menuFragment}">

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
<!--    <form role="form" th:action="@{/room/selectRoomPop}" th:object="${PeopleEntity}" action="#" id ="selectForm" method="post">-->


    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">참석자 조회</h6>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered text-nowrap" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>
                            <a id="selectMulti" class="btn btn-success btn-icon-split btn-sm" th:onclick="userDetailMulti()">
                                <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                </span>
<!--                                <span class="text"></span>-->
                            </a>
                        </th>
                        <th>배정</th>
                        <th>idx</th>
                        <th>신청인</th>
                        <th>이름</th>
                        <th>방배정</th>
                        <th>구분</th>
                        <th>번호</th>
                        <th>성별</th>
                        <th>나이</th>
                        <th>소속</th>
                        <th>전참여부</th>
                        <th>참석일</th>
                        <th>입금금액</th>
                        <th>입금날짜</th>
                        <th>입금상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="people : ${list}">
                        <td>
                            <input type="checkbox" name="checkbox" style="transform: scale(2);" th:value="${people.seqno}">
                        </td>
                        <td>
                            <div th:if ="${people.roominfo==null}">
                                <a id="selectRoom" class="btn btn-success btn-icon-split btn-sm" th:onclick="userDetail([[${people.seqno}]])">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    <span class="text">방배정</span>
                                </a>
                            </div>
                            <div th:unless="${people.roominfo==null}">
                                <a id="updateRoom" class="btn btn-secondary btn-icon-split btn-sm" th:onclick="userDetail([[${people.seqno}]])">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    <span class="text">재배정</span>
                                </a>
                            </div>
                        </td>
                        <td th:text="${people.seqno}"></td>
                        <td th:text="${people.peoplekey}"></td>
                        <td th:text="${people.name}"></td>
                        <td th:text="${people.roominfo}"></td>
                        <td th:text="${people.memberstatus}"></td>
                        <td th:text="${people.mobile}"></td>
                        <td th:text="${people.gender}"></td>
                        <td th:text="${people.age}"></td>
                        <td th:text="${people.church}"></td>
                        <td th:text="${people.allday_yn}"></td>
                        <td th:text="${people.day}"></td>
                        <td th:text="${people.complete_pay}"></td>
                        <td th:text="${people.pay_dt}"></td>
                        <td th:text="${people.pay_status}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>주님만 높임받으시는 집회 - Again 1907</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
<!--    </form>-->
</div>

<!-- End of Page Wrapper -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>
<script type="text/javascript" >
    var popup;
    function userDetail(seqno){
        popup = window.open('/room/selectroom?seqno='+seqno, '방배정팝업', 'width=800px,height=700px,scrollbars=yes');

        popup.addEventListener('beforeunload', function(){
            location.replace(location.href);
        });
    }

    function userDetailMulti(){
        var seqno_arr = [];
        $("input[name=checkbox]:checked").each(function(){
            var chk = $(this).val();
            seqno_arr.push(chk);
        })

        popup = window.open('/room/selectroom?seqno_arr='+seqno_arr, '방배정팝업', 'width=800px,height=700px,scrollbars=yes');

        popup.addEventListener('beforeunload', function(){
            location.replace(location.href);
        });

    }
</script>
</body>
</html>