<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: headerFragment}">
</head>
<body id="page-top">
<!--<input type="hidden" th:value ="${peopleSeqno}">-->
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column ">
                    <div class="table-responsive m-2">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>배정</th>
                                <th>idx</th>
                                <th>기숙사구분</th>
                                <th>방번호</th>
                                <th>현재인원</th>
                                <th>최대인원</th>
                                <th>구분</th>
                                <th>배정가능여부</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="room : ${roomlist}">
                                <td>
                                    <a class="btn btn-success btn-circle btn-sm" th:onclick="roomSave([[${room.seqno}]],[[${peopleSeqno}]],[[${peopleSeqArr}]])">
                                        <i class="fas fa-check"></i>
                                    </a>
                                </td>
                                <td th:text="${room.seqno}"></td>
                                <td th:text="${room.dormitory}"></td>
                                <td th:text="${room.room_num}"></td>
                                <td th:text="${room.regpeople}"></td>
                                <td th:text="${room.max_people}"></td>
                                <td th:text="${room.type}"></td>
                                <td th:text="${room.status}"></td>
                            </tr>
                            </tbody>
                        </table>
            </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>
<script type="text/javascript">
    function roomSave(rseqno,pseqno,pseqnoarr){
        if(confirm("저장하시겠습니까?")){
            // location.href = '/room/save?rseqno='+rseqno+'&pseqno='+pseqno;
            // window.close();
            $.ajax({
                type : 'GET',           // 타입 (get, post, put 등등)
                url : '/room/save',           // 요청할 서버url
                // dataType : 'text',       // 데이터 타입 (html, xml, json, text 등등)
                data : {
                    "rseqno" : rseqno
                    ,"pseqno" : pseqno
                    ,"pseqnoarr" : pseqnoarr
                    ,"push" : ""
                },
                success : function(data) { // 결과 성공 콜백함수
                    if(data == "success"){
                        alert("저장되었습니다.");
                        window.close();
                    }else if(data == "else"){
                        if(confirm("방타입이 다릅니다. 계속 저장하시겠습니까?")){
                            $.ajax({
                                type : 'GET',           // 타입 (get, post, put 등등)
                                url : '/room/save',           // 요청할 서버url
                                // dataType : 'text',       // 데이터 타입 (html, xml, json, text 등등)
                                data : {
                                    "rseqno" : rseqno
                                    ,"pseqno" : pseqno
                                    ,"pseqnoarr" : pseqnoarr
                                    ,"push" : "push"
                                },
                                success : function(data) {
                                    if(data == "success"){
                                        alert("저장되었습니다.");
                                        window.close();
                                    }
                                },
                                error : function(request, status, error) { // 결과 에러 콜백함수
                                    alert("오류");
                                }

                            })
                        }
                    }



                },
                error : function(request, status, error) { // 결과 에러 콜백함수
                    alert("오류");
                }
            })
        }
    };
</script>

</body>
</html>